.login-google{
  width: 85%;
  padding-left: 0% ;
  background-size: cover !important;
  background-position: 50% 50%;
  text-align: center;

}

.button_inicio{
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  margin-top: 5%;
}



.img-facebook-login{
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transfor: translateX(-50%);
  -webkit-transform: translateX(-50%);
  cursor: pointer;
  margin-top: 5%;
}

.img-google-login{
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transfor: translateX(-50%);
  -webkit-transform: translateX(-50%);
  cursor: pointer;
}

.img_login{
  width: 100%;
  max-width: 100%;
  margin-left: 0%;
}

.btn_facebook{
  width: 1%;
}



.loginPhone{
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transfor: translateX(-50%);
  -webkit-transform: translateX(-50%);
  FONT-SIZE: 8pt;
  height:50px;
  cursor: pointer;
}